{% extends 'base.html'%}
{% load i18n %}
{% block title %}{% trans 'Git Admin'%}{% endblock%}
{% block content %}
<div class="main">
	<div class="content">
		{% block main %}
		<div class="block">
			<div class="block-head">
				<h3>{% trans 'News Feeds'%}</h3>
				<a href="#" title="RSS" class="rss"><img src="{{STATIC_URL}}img/rss.png" style="margin-top: 3px;"/></a>
			</div>
			<div class="block-content">
				{% for item in feeds %}
				{{item.reference}}
				{% endfor %}
			</div>
		</div>
		{% endblock %}
	</div>
	<div class="sidebar">
		<div class="block">
			<div class="block-head">
				<h3>{% trans 'Your Projects'%} <em>({{projects.count}})</em></h3>
				{% comment %}<a href="{% url gitlog_projects_create %}" class="button">{% trans 'New Project'%}</a>{% endcomment %}
			</div>
			<div class="block-content">
				<ul class="repolist">
					{% for repo in projects %}
					{% if user in repo.writable.all %}
					<li class="writable">
					{% endif%}
					{% if user in repo.readonly.all %}
					<li class="readonly">
					{% endif%}
						<a href="{%url gitlog_project_tree project=repo.name%}">
						<span><b>{{repo.name}}</b></span>
					</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock%}