{% load i18n gitlog %}
<script type="text/javascript">
	$(document).ready(function(){
		$('a#switcher').click(function(){
			$('ul.reflist').toggle()
		})
		$('a.refswitcher').each(function(){
			$(this).click(function(){
				$('ul.reflist a.selected').removeClass('selected').next().hide()
				$(this).next().show();
				$(this).addClass('selected');
				
			})
		})
	})
</script>
<div class="block">
	<div class="block-head">
		<h3>
		{% if reference %}
		{% trans 'Latest commit to the'%} <a href="{% url gitlog_project_tree project=project.name commit=name%}">{{name}}</a> {{type}}
		{% endif %}
		{% if not reference %}
		{% trans 'Browsing ref'%} <span class="strong">{{name|substr:'10'}}</span>
		{% endif %}
		<a class="button switcher" id="switcher" href="javascript: ;">{{type}}: {{name}}</a>
		</h3>
	</div>
	<div class="refs" id="refs">
			<ul class="reflist" style="display: none">
				<li><a href="javascript:;" class="selected refswitcher">{% trans 'Branches'%}</a>
					<ul>
						{% for branch in commit.repo.branches %}
						<li><a href="{% url gitlog_project_tree project=project commit=branch.name%}">{{ branch.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="javascript:;" class="refswitcher">{% trans 'Tags'%}</a>
					<ul style="display: none;">
						{% for tag in commit.repo.tags %}
						<li><a href="{% url gitlog_project_tree project=project commit=tag.name%}">{{ tag.name }}</a></li>
						{% empty %}
    					<li><a href="javascript:;" style="color: #666;">{% trans 'Sorry. No tags found.'%}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	<div class="block-content">
		<ul>
			<li>
				<span class="strong">
					{% user_link commit.author%}
				</span>
				 
				{% trans 'authored on'%} {{commit.authored_date|timetodate}} 
				{% if commit.author != commit.committer %}
				<span style="font-size: 0.8em">
				<br />
				<span class="strong">
					&nbsp;<img src="{{STATIC_URL}}img/committer.png" /> {% user_link commit.committer%}
				</span> 
				{% trans 'committed on'%} {{commit.committed_date|timetodate}}
				</span>
				{% endif %}
				<div style="float:right; opacity: 0.7;">
					{% trans "Commit"%}: <a href="{% url gitlog_project_commit project=project commit=commit_id%}">{{commit|substr:10}}</a> <br />
					{% if commit.parents %}
					<span class="strong">{% trans 'Parents'%}</span>
					{% for item in commit.parents %} <br />
					{% trans "Commit"%}: <a href="{% url gitlog_project_commit project=project commit=item%}">{{item|substr:10}}</a> <br />
					{% trans "Tree"%}: <a href="{% url gitlog_project_tree project=project commit=item%}">{{item|substr:10}}</a> <br />
					{% endfor %}
					{% endif %}
				</div>
			</li>
			<li class="commit-message">{{commit.message}}</li>
		</ul>
	</div>
</div>