{% extends 'base.html'%}
{% block title %}{{project.name}}{% endblock %}
{% load i18n gitlog gravatar %}
{% block content %}
<div class="main">
	<div class="content">
		{% commithead %}
	</div>
	<div class="sidebar">
		<div class="block">
			<div class="block-head">
				<h3>{{project.name}}
					<a class="button active" id="a-git-ssh" href="javascript:;" onclick="$(this).toggleClass('active'); $('a#a-git-git').toggleClass('active'); $('input#git-ssh').toggle();$('input#git-git').toggle();">SSH</a>
					<a class="button" style="right: 53px;" id="a-git-git" href="javascript:;" onclick="$(this).toggleClass('active'); $('a#a-git-ssh').toggleClass('active'); $('input#git-ssh').toggle();$('input#git-git').toggle();">Git Read-Only</a>
				</h3>
			</div>
			<div class="block-content">
				<input type="text" class="repourl" id="git-ssh" value="{{project.sshurl}}"/>
				<input type="text" class="repourl" id="git-git" value="{{project.giturl}}" style="display: none;"/>
				<div class="author">
					{% gravatar project.owner 45 %}	
					<ul style="min-height: 50px;">
						{% if project.url %}
						<li><a href="{{project.url}}" target="__blank">{{project.url}}</a></li>
						{% endif %}
						<li><span class="strong">{% user_link project.owner %}</span></li>
						<li>{{project.owner.email}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main">
	{% block main %}
		
	{% breadcrumb %}
	<table cellpadding="0" cellspacing="0" class="tree-browser">
		<tr class="tree-browser-header">
			<td width="20"></td>
			<td >{% trans 'Name'%}</td>
			<td width="150">{% trans 'Age'%}</td>
			<td>{% trans 'Message'%}</td>
			<td width="55"><a href="#" class="button" style="position: absolute; margin-top: -11px;">{% trans 'History'%}</a></td>
		</tr>
		{% for item in tree.trees %}
		{% render_commit_row commit item %}
		{% endfor %}
		{% for item in tree.blobs %}
		{% render_commit_row commit item %}
		{% endfor %}
	</table>
	{% readme %}
	{% endblock %}
</div>
{% endblock%}