html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	border: 0px none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0px;
    outline: 0px none;
    padding: 0px;
    vertical-align: baseline;
}
body{
	color: #000000;
    font: 62.5%/1.2 Arial,Helvetica,"Nimbus Sans L",sans-serif;
}
ol, ul {
    list-style: none outside none;
}
a {
    color: #006699;
    outline: medium none;
    text-decoration: none;
}
a.button {
	height: 23px;
	padding: 0 10px;
	line-height: 23px;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-shadow: -1px -1px 0 #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: url('../img/black.gif') 0 0 repeat-x;
}
hr {
    display: none;
}
div.header, div.body{
	clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
	font-size: 13px;
    margin-bottom: 15px;
}

div.wrapper:after, div.main:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

div.wrapper .logo{
	padding-bottom: 5px;
	display: block;
    float: left;
    margin: 6px 10px 0 3px;
    width: 92px;
}
ul.account{
	color: #666666;
    float: right;
    margin: 30px 3px 5px 8px;
}
ul.account li{
	display: inline;
    padding: 0 2px 0 10px;
}
div.wrapper .logo a {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 44px;
    text-indent: -12345px;
}
div.wrapper .logo a:hover{
	background: url("../img/logo-hover.png") no-repeat scroll 0 0 transparent;
}
div.headnav {
	background: url("../img/sprite.png") no-repeat scroll 0 -442px transparent;
    width: 100%;
}
div.headnav .wrapper{
	background: url("../img/sprite.png") no-repeat scroll 0 -482px transparent;
    height: 39px;
    padding: 0 5px;
}
ul.navi{
	background: none repeat scroll 0 0 transparent;
    border: 0px none;
    list-style-type: none;
    margin: 0px;
    outline: 0px none;
    padding: 0px;
    vertical-align: middle;
    margin-left: 5px;
}
ul.navi li{
	float: left;
    font-size: 13px;
    line-height: 35px;
    margin: 1px 0 0;
}
ul.navi li a, ul.navi li a:hover, ul.navi li a:visited {
    color: #006699;
    text-decoration: none !important;
}
ul.navi li a:hover, ul.account li a:hover{
	opacity: 0.6;
}
ul.navi li a.active{
	color: #2C2C2C !important;
}
ul.navi li a span {
	display: block;
    padding: 1px 9px;
}
div.page-title {
	margin: 0 10px 15px 10px;
}
div.page-title h1{
	color: #333;
	font-size: 180%;
	margin-bottom: 0;
	padding-bottom: 7px;
	font-weight: normal;
}
div.login_form {
	width:470px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	width:605px;
	margin:0 auto;
	padding:30px 20px 30px 20px;
}
ul.formbody li{
	overflow: hidden;
	margin-bottom: 4px;
	zoom: 1;
}
ul.formbody li label{
	width: 220px;
	font-size: 13px;
	color: #333;
	display: block;
	float: left;
	text-align: right;
	padding-right: 8px;
	font-weight: bold;
	line-height: 23px;
}
ul.errorlist{
	font-size: 12px;
	display: block;
	margin-bottom: -6px;
	margin-left:230px;
	font-weight: bold;
	color: #900;
}
ul.form{
	
}
ul.form li{
	margin-bottom: 10px;
}
ul.form label {
	display:block;
	width: 100%;
}
ul.form input {
	display: block;
	width: 100%;
}
ul.form .errorlist {
	float:right!important;
	margin-left: 0px!important;
}
div.error_box {
	color: #900;
	font-weight: bold;
	text-align: center;
}
form input[type="submit"]{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#277696',endColorstr='#04608E',GradientType=0);
	border-color: #004A73;
	background: #0571A6;
	background: -moz-linear-gradient(top,#73AEC9 0,#73AEC9 1px,#338AB0 1px,#0571A6 100%);
	background: -o-linear-gradient(top,#73AEC9 0,#73AEC9 1px,#338AB0 1px,#0571A6 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#73AEC9),color-stop(5%,#73AEC9),color-stop(5%,#338AB0),color-stop(100%,#0571A6));
	background: linear-gradient(top,#73AEC9 0,#73AEC9 1px,#338AB0 1px,#0571A6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#338AB0',endColorstr='#0571A6',GradientType=0);
	border-color: #045A8B;
	color: white!important;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	text-decoration: none!important;
	vertical-align: top;
	width: auto;
}
form input[type="submit"]:hover {
	color: white!important;
}

div.content {
	float: left;
    width: 640px;
}
div.sidebar {
	float: right;
    width: 330px;
}
div.block-head {
	position: relative;
	padding: 0 2px;
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #F9F9F9 0pt, #E8E8E8 100%) repeat scroll 0 0 transparent;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #666666;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 7px 10px;
    background:#E8E8E8;
    background:-moz-linear-gradient(top,#F9F9F9 0,#E8E8E8 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#F9F9F9),color-stop(100%,#E8E8E8));
    background:linear-gradient(top,#F9F9F9 0,#E8E8E8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9',endColorstr='#E8E8E8',GradientType=0);
}
div.block-head h3 {
    font-weight: bold;
}
div.block-head h3 em {
	color: #99A4AA;	
	font-style: normal;
}
div.block-head a{
	position: absolute;
	top: 4px;
	right: 5px;
}
div.block-content{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 6px 10px 8px;
}
div.sidebar .block-content ul.repolist li {
	border-bottom: 1px solid #E5E5E5;
	display: block;
	padding-left: 20px;
}
div.block-content ul li.writable{
	background: url("../img/writable.png") no-repeat scroll 0 7px transparent;
}
div.block-content ul li.readonly{
	background: url("../img/readonly.png") no-repeat scroll 0 7px transparent;
}
div.block-content ul.repolist li a {
	display: block;
	padding: 5px 0;
	font-size: 14px;
}
li.commit-message {
	padding-left: 10px;
	color: #777;
}
span.strong {
	font-weight: bold;
	color: #069;
}
ul.select-filters {
	margin: 0 -10px;
	background: #F8F8F8;
	border: 1px solid #DEDEDE;
	border-width: 1px 0;
	clear: both;
	height: 20px;
}
ul.select-filters li {
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	padding-left: 3px;
}
ul.select-filters li a {
	display: block;
}
ul.select-filters li a.active {
	opacity: 0.5;
