{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} / {{page_title}}</title>
		<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png" />
		<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{% block header %}
		<div class="header">
			<div class="wrapper">
				{%if public_access and user.is_anonymous%}
				<ul class="account">
					<li><a href="{% url gitlog_login%}"><span>Login</span></a></li>
				</ul>
				{%else%}
					{%if user.is_authenticated%}
					<ul class="account">
						<li><a href="{% url gitlog_account_dashboard%}"><span style="color:#000;"><b>{{user}}</b></span></a></li>
						<li><a href="{% url gitlog_home%}"><span>Dashboard</span></a></li>
						<li><a href="{% url gitlog_account_settings%}"><span>Settings</span></a></li>
						<li><a href="{% url gitlog_logout%}"><span>Logout</span></a></li>
					</ul>
					{% endif %}
				{%endif%}
				<h1 class="logo">
					<a href="{% url gitlog_home%}">{% trans 'Dashboard'%}</a>
				</h1>
			</div>
			<div class="headnav">
				<div class="wrapper">
					<ul class="navi">
						<li><a href="{% url gitlog_home%}"><span>{% trans 'News Feeds'%}</span></a></li>
						<li><a href="#"><span>{% trans 'Projects'%}</span></a></li>
						<li><a href="#"><span>{% trans 'Users'%}</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr />
		{% endblock %}
		<div class="body">
			{% block page_head %} {% endblock %}
			<div class="wrapper">
				{% block content %}
				
				{% endblock %}
			</div>
		</div>
	</body>
</html>
